.c {
  text-align: center;
  vertical-align: middle !important;
}

.m {
  vertical-align: middle !important;
}

.n {
  white-space: nowrap;
}

h1.my {
  font-size: 1.8rem;
}

h2.my {
  font-size: 1.6rem;
}

h3.my {
  font-size: 1.4rem;
}

h4.my {
  font-size: 1.2rem;
}

h5.my {
  font-size: 1.1rem;
}

h1.my,
h2.my,
h1>span.my,
h2>span.my {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: jf-openhuninn,  "Noto Sans TC", HanWangMingBlack;
  /* 字型 */
  background: -webkit-linear-gradient(rgb(89, 112, 134), rgb(33, 51, 51));
  /* 漸層顏色 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3.my,
h4.my,
h5.my,
h3>span.my,
h4>span.my,
h5>span.my {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: jf-openhuninn, 微軟正黑體, "Noto Sans TC", Mamelon;
  /* 字型 */
  background: -webkit-linear-gradient(rgb(126, 92, 64), rgb(92, 41, 56));
  /* 漸層顏色 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-title {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: "Noto Sans TC", jf-openhuninn, Mamelon;
  color: #3a322e;
}

a:hover {
  text-decoration: none;
}

.my-border {
  padding: 12px 20px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 8px;
  background: rgb(245, 245, 245);
  /* box-shadow: 0px 0px 6px 1px rgba(37, 37, 37, 0.2); */
  margin: 10px auto;
}

.my-sm-border {
  padding: 6px 10px 8px 10px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  background: rgb(245, 245, 245);
  margin: 10px auto;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20px;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
}

.tooltip-inner {
  max-width: 600px;
  font-size: 0.95rem;
  background-color: #830d48;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  line-height: 1.8;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #830d48 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #830d48 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #830d48 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #830d48 !important;
}

.bar {
  text-align: center;
  margin: 3em auto;
}

.news_page_container {
  margin-bottom: 40px;
}

.news_page_content {
  border: 1px solid #efefef;
  border-radius: 5px;
  background-color: #ffffff67;
  padding: 0px;
  margin: 10px auto;
  line-height: 2rem;
  font-weight: normal;
}

.news_page_info {
  background-color: rgb(200, 200, 200, 0.2);
  padding: 5px;
  margin: 0px;
}

.news_page_info_text {
  font-size: 0.8rem;
}

.table {
  margin-bottom: 0rem;
}

.table th,
.table td {
  vertical-align: middle;
  padding: 8px 12px;
}

.cate_title_img {
  width: 50px;
  margin: 0px 6px 4px 0px;
}

.table-shadow {
  margin-bottom: 30px;
  border-style: hidden;
  border-collapse: collapse;
  background-color: #fff;
  border-spacing: 0;
}

table.table-shadow tr th,
table.table-shadow tr td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

table.table-shadow tr th:first-child,
table.table-shadow tr th:last-child {
  border-top: solid 1px #ddd;
}

table.table-shadow tr th:first-child,
table.table-shadow tr td:first-child {
  border-left: 1px solid #ddd;
}

table.table-shadow tr th:first-child,
table.table-shadow tr td:first-child {
  border-left: 1px solid #ddd;
}

table.table-shadow tr th {
  background: #ddd;
  text-align: left;
}

/* top-left border-radius */
table.table-shadow tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table.table-shadow tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table.table-shadow tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table.table-shadow tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

table.table-shadow tr.my th {
  background: #3d576877;
  color: white;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}

table.table-shadow tr.my th a {
  color: white;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}