/*新聞乾淨外觀*/
.news_title{
  margin: 0px 0px 10px 0px;
  width: 100%;
  background-color: transparent;
}

.news_title a{
  font-size: 1em;
  font-weight: bolder;
  border: none;
  color:rgb(153,0,0);
}

.news_content{
  width:96%;
  margin:10px auto;
  line-height: 2em;
  font-weight:normal;
}

.news_toolbar{
  font-size: 0.8em;
  border:none;
  margin:2px 4px 6px 10px;
  text-align:right;
}