<style>
#centerCcolumn .blockContent, #bottomCcolumn .blockContent{border:none;}
</style>
<{if $block.option==""}>
  <{$smarty.const._MB_TADNEWS_NO_NEWSPAPER}>
<{else}>
<div class="row-fluid">
  <form action="<{$xoops_url}>/modules/tadnews/email.php" method="post">
    <{$block.counter}>
    
    <div class="controls controls-row">
      <div class="span4"><{$smarty.const._MB_TADNEWS_TITLE}></div>
      <select name="nps_sn" class="span8" id="newspaper" placeholder="<{$smarty.const._MB_TADNEWS_TITLE}>">
        <{foreach item=opt from=$block.option}>
        <option value="<{$opt.value}>"><{$opt.text}></option>
        <{/foreach}>
      </select>
    </div>


    <div class="controls controls-row">
      <div class="span4"><{$smarty.const._MB_TADNEWS_EMAIL}></div>
      <input type="text" name="newspaper_email" id="newspaper_email" placeholder="<{$smarty.const._MB_TADNEWS_EMAIL}>" class="span8">
    </div>


    <div class="controls controls-row">
    <input type="radio" name="mode" value="add" checked><{$smarty.const._MB_TADNEWS_ORDER}>
    <input type="radio" name="mode" value="del"><{$smarty.const._MB_TADNEWS_CANCEL}>
    <button type="submit" class="btn"><{$smarty.const._MB_TADNEWS_SUBMIT}></button>
    </div>
  </form>
</div>
<{/if}>