<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/iconize.css" />
<{$block.bootstrap}>
<style>
  #centerCcolumn .blockContent, #bottomCcolumn .blockContent{border:none;}
</style>
<{$block.jquery_path}>
<{if $block.bootstrap_version=='3'}>
  <!-- for bootstrap3-->
  <{if $block.page}>

    <{assign var="i" value=0}>
    <{assign var="total" value=1}>
    <{foreach from=$block.page item=news}>
      <{if $i==0}>
      <div class="row">
      <{/if}>
      <div class="col-md-<{$block.span}>" style="margin-bottom:16px;">
        <div style="height:150px;overflow:hidden;border:1px solid gray;vertical-align:middle;">
          <a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>">
            <{if $news.image_big}>
              <img src="<{$news.image_big}>" alt="<{$news.news_title}>" title="<{$news.news_title}>" class="img-responsive">
            <{else}>
              <img src="<{$xoops_url}>/modules/tadnews/images/demo1.jpg" alt="<{$news.news_title}>" title="<{$news.news_title}>" class="img-responsive">
            <{/if}>
          </a>
        </div>
        <div style="font-size:18px; overflow:hidden;height:15pt;line-height:16pt;margin:8px 3px; "><a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>"><{$news.news_title}></a></div>
        <div><a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>"><{$news.content}></a></div>
      </div>

      <{assign var="i" value=$i+1}>
      <{if $i == $block.cols || $total==$block.count}>
        </div>
        <{assign var="i" value=0}>
      <{/if}>
      <{assign var="total" value=$total+1}>
    <{/foreach}>
  <{/if}>
<{else}>
   <!-- for bootstrap2-->
  <{if $block.page}>
    <{assign var="i" value=0}>
    <{assign var="total" value=1}>
    <{foreach from=$block.page item=news}>
      <{if $i==0}>
      <div class="row-fluid">
      <{/if}>
      <div class="span<{$block.span}>" style="margin-bottom:16px;">
        <div style="height:150px;overflow:hidden;border:1px solid gray;vertical-align:middle;">
          <a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>">
            <{if $news.image_big}>
              <img src="<{$news.image_big}>" alt="<{$news.news_title}>" title="<{$news.news_title}>" style="width:100%;">
            <{else}>
              <img src="<{$xoops_url}>/modules/tadnews/images/demo1.jpg" alt="<{$news.news_title}>" title="<{$news.news_title}>" style="width:100%;">
            <{/if}>
          </a>
        </div>
        <div style="font-size:18px; overflow:hidden;height:15pt;line-height:16pt;margin:8px 3px; "><a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>"><{$news.news_title}></a></div>
        <div><a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>"><{$news.content}></a></div>
      </div>

      <{assign var="i" value=$i+1}>
      <{if $i == $block.cols || $total==$block.count}>
        </div>
        <{assign var="i" value=0}>
      <{/if}>
      <{assign var="total" value=$total+1}>
    <{/foreach}>
  <{/if}>
<{/if}>
