<!--TadNews Start-->
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadnews/iconize.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />



<{$jquery}>

<script type="text/javascript" src="<{$xoops_url}>/modules/tadnews/class/izzyColor/izzyColor.js" charset="UTF-8"></script>
<script type="text/javascript">
var imageUrl="<{$xoops_url}>/modules/tadnews/class/izzyColor/editor_images/color.png"; // optionally, you can change path for images.
</script>


<script language="JavaScript" type="text/JavaScript">
function delete_tag(tag_sn){
	var sure = window.confirm('<{$smarty.const._TADNEWS_SURE_DEL}>');
	if (!sure)	return;
	location.href="<{$xoops_url}>/modules/tadnews/admin/tag.php?op=del_tag&tag_sn=" + tag_sn;
}
</script>


<table class="table table-striped table-bordered">
<tr>
  <th><{$smarty.const._MA_TADNEWS_TAG_DEMO}></th>
  <th><{$smarty.const._MA_TADNEWS_TAG_TITLE}></th>
  <th><{$smarty.const._MA_TADNEWS_TAG_COLOR}></th>
  <th><{$smarty.const._MA_TADNEWS_TAG_ENABLE}></th>
  <th><{$smarty.const._MA_TADNEWS_TAG_FUNC}></th>
</tr>
<{if $tag_sn==""}>
<form action="tag.php" method="post" id="myForm">
<tr class="info">
  <td><{$smarty.const._MA_TADNEWS_TAG_NEW}></td>
  <td><input type="text" name="tag" value="<{$tag}>" size=10></td>
  <td><input type="text" name="color" value="<{$color}>" id="color2" class="izzyColor" size=10></td>
  <td>
    <label class="radio">
      <input type="radio" name="enable" value="1" <{$tag.enable_1}>><{$smarty.const._YES}>
    </label>
    <label class="radio">
      <input type="radio" name="enable" value="0" <{$tag.enable_0}>><{$smarty.const._NO}>
    </label>
  </td>
  <td>
  <input type="hidden" name="op" value="insert_tad_news_tags">
  <button class="btn" type="submit"><{$smarty.const._MA_TADNEWS_SAVE_CATE}></button>
  </td>
</tr>
</form>
<{/if}>

<{foreach item=tag from=$tagarr}>
  <{if $tag.mode=="edit"}>
  <form action="tag.php" method="post" id="myForm">
    <tr class="warning">
      <td><{$tag.prefix_tag}></td>
      <td><input type="text" name="tag" value="<{$tag.tag}>" size=10></td>
      <td><input type="text" name="color" value="<{$tag.color}>" id="color" class="izzyColor" size=10></td>
      <td>
        <label class="radio">
          <input type="radio" name="enable" value="1" <{$tag.enable_1}>><{$smarty.const._YES}>
        </label>
        <label class="radio">
          <input type="radio" name="enable" value="0" <{$tag.enable_0}>><{$smarty.const._NO}>
        </label>
      </td>
      <td>
    	<input type="hidden" name="tag_sn" value="<{$tag_sn}>">
      <input type="hidden" name="op" value="update_tad_news_tags">
      <button class="btn" type="submit"><{$smarty.const._MA_TADNEWS_SAVE_CATE}></button>
      </td></tr>
    </form>
  <{else}>
    <tr>
      <td><{$tag.prefix_tag}></td>
      <td><{$tag.tag}></td>
      <td><{$tag.color}></td>
      <td><{$tag.enable_txt}><{$tag.amount}></td>
      <td><{$tag.tool}></td>
    </tr>
  <{/if}>
<{/foreach}>

</table>