<!--TadNews Start-->
<{if $ncsn}>
<link rel="alternate" type="application/rss+xml" title="tadnews rss" href="<{$xoops_url}>/modules/tadnews/rss.php?ncsn=<{$ncsn}>" />
<{/if}>
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadnews/iconize.css" />

<{$bootstrap}>

<p>
<{$toolbar}>
</p>
<{$syntaxhighlighter_code}>

<{if $show_sort_tool}>
<{$jquery}>
<script language="JavaScript">
  $().ready(function(){
      $(function() {
          $("#sort").sortable({ opacity: 0.6, cursor: "move", update: function() {
              var order = $(this).sortable("serialize") + "&action=updateRecordsListings";
              $.post("save_sort.php", order, function(theResponse){
                  $("#tadnews_save_msg").html(theResponse);
              });
          }
          });
    });
  });
</script>
<{/if}>
    
    
<{if $page}>
<div class="row-fluid">
<div id="tadnews_save_msg"></div>
<{$cate_select}>
<{$author_select}>
<table class="table table-striped">
  <tr>
      <th nowrap><{$smarty.const._MA_TADNEWS_NEWS_TITLE}></th>
      <{if $show_admin_tool_title}>
      <th nowrap><{$smarty.const._MA_TADNEWS_NEWS_PASSWD}></th>
      <th nowrap><{$smarty.const._MA_TADNEWS_CAN_READ_NEWS_GROUP}></th>
      <th nowrap><{$smarty.const._MA_TADNEWS_FUNCTION}></th>
      <{/if}>
  </tr>
  <tbody id="sort">
    <{foreach item=page from=$page}>
      <tr id="tr_<{$page.nsn}>">
        <td>
          <{$page.chkbox}>
          <{$page.post_date}>

          <{$page.prefix_tag}>
          <{if $page.need_sign}>
            <img src="<{$page.need_sign}>" align="absmiddle" alt="<{$page.news_title}>" style="margin:3px;">
          <{/if}>
          <{$page.enable_txt}><{$page.today_pic}>
          <a href="<{$xoops_url}>/modules/tadnews/<{$page.link_page}>?nsn=<{$page.nsn}>"><{$page.news_title}></a>
          <span style="color:gray;font-size:12px;"> (<a href="index.php?show_uid=<{$page.uid}>"><{$page.uid_name}></a> / <{$page.counter}> / <a href="index.php?ncsn=<{$page.ncsn}>"><{$page.cate_name}></a>)</span> <{$page.content}>
        </td>
      </tr>
    <{/foreach}>
  </tbody>
</table>
</div>
<{$bar}>

<{/if}>