<!--TadNews Start-->
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/iconize.css" />

<{$bootstrap}>

<p>
<{$toolbar}>
</p>

<{if $page}>

  <div class="row-fluid">
  <div id="tadnews_save_msg"></div>
  <{$cate_select}>
  <{$author_select}>
  <table class="table table-striped">
    <tr>
      <th nowrap><{$smarty.const._MD_TADNEWS_NEWS_TITLE}></th>
    </tr>
    <tbody id="sort">
      <{foreach item=page from=$page}>
        <tr id="tr_<{$page.nsn}>">
          <td>
            <{$page.post_date}>
            <{if $page.not_news!='1'}>
              <{$page.prefix_tag}>
              <{if $page.need_sign}>
                <img src="<{$page.need_sign}>" align="absmiddle" alt="<{$page.news_title}>" style="margin:3px;">
              <{/if}>
            <{else}>
              <i class="icon-book"></i>
            <{/if}>
            <{$page.enable_txt}><{$page.today_pic}>
            <a href="<{$xoops_url}>/modules/tadnews/<{$page.link_page}>?nsn=<{$page.nsn}>"><{$page.news_title}></a>
            <span style="color:gray;font-size:12px;"> (<a href="index.php?show_uid=<{$page.uid}>"><{$page.uid_name}></a> / <{$page.counter}> / <a href="index.php?ncsn=<{$page.ncsn}>"><{$page.cate_name}></a>)</span> <{$page.content}>
          </td>
        </tr>
      <{/foreach}>
    </tbody>
  </table>
  </div>
  <{$bar}>
<{/if}>