<!--TadNews Start-->
<{if $ncsn}>
  <link rel="alternate" type="application/rss+xml" title="tadnews rss" href="<{$xoops_url}>/modules/tadnews/rss.php?ncsn=<{$ncsn}>" />
<{/if}>

<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/iconize.css" />

<p>
  <{$toolbar}>
</p>

<{foreach item=all_news from=$all_news}>
  <div class="row" style="margin: 20px 0px; padding:20px 0px; border-bottom: 1px dotted #cfcfcf;">
    <div class="col-md-2">
      <div>
        <a href="index.php?ncsn=<{$all_news.ncsn}>" style="font-size: 20px;"><{$all_news.nc_title}></a>
      </div>

        <a href="<{$xoops_url}>/modules/tadnews/index.php?ncsn=<{$all_news.ncsn}>">
          <img src="<{$all_news.pic}>" alt="<{$all_news.nc_title}>" title="<{$all_news.nc_title}>" style="width: 100%;">
        </a>
    </div>
    <div class="col-md-10">
      <{if $all_news.news}>
        <div class="row">
          <{foreach  item=news from=$all_news.news}>
            <div class="col-md-12" style="margin: 4px 0px; padding:4px;">
              <{$news.post_date}>
              <{$news.prefix_tag}>
              <{$news.always_top_pic}>
              <a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>"><{$news.news_title}></a>
            </div>
          <{/foreach}>
        </div>

      <{else}>
        <div class="row">
          <div class="col-md-12" style="margin: 4px 0px; padding:4px;">
            <div class="alert alert-danger">
              <{$smarty.const._TADNEWS_EMPTY}>
            </div>
          </div>
        </div>
      <{/if}>
    </div>
  </div>
<{/foreach}>