<!--TadNews Start-->
<{if $ncsn}>
<link rel="alternate" type="application/rss+xml" title="tadnews rss" href="<{$xoops_url}>/modules/tadnews/rss.php?ncsn=<{$ncsn}>" />
<{/if}>
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/iconize.css" />

<{$bootstrap}>

<p>
<{$toolbar}>
</p>


<!--TadNews Start-->
<{foreach item=all_news from=$all_news}>
  <h3><a href="page.php?ncsn=<{$all_news.ncsn}>"><{$all_news.nc_title}></a></h3>
  <table class="table table-striped table-hover">
  <{foreach  item=news from=$all_news.news}>
    <tr>
      <td>
      <a href="<{$xoops_url}>/modules/tadnews/page.php?nsn=<{$news.nsn}>"><{$news.news_title}></a>
      </td>
      <td class="span1 text-right" style="color: gray;font-size:12px;">(<{$news.counter}>)</td>
    </tr>
  <{/foreach}>
  </table>
<{/foreach}>
<!--TadNews End-->