<!--TadNews Start-->
<{if $ncsn}>
<link rel="alternate" type="application/rss+xml" title="tadnews rss" href="<{$xoops_url}>/modules/tadnews/rss.php?ncsn=<{$ncsn}>" />
<{/if}>
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadnews/iconize.css" />
<{$bootstrap}>
<p>
<{$toolbar}>
</p>
<{$syntaxhighlighter_code}>
<{$rating_js}>
<{$del_js}>

<!--TadNews Start-->
<table class="table">
  <{foreach item=all_news from=$all_news}>
    <tr>
      <td class="span2">
      <img src="<{$all_news.pic}>" alt="<{$all_news.nc_title}>" title="<{$all_news.nc_title}>" class="thumbnail" onClick="window.location.href='<{$xoops_url}>/modules/tadnews/index.php?ncsn=<{$all_news.ncsn}>'">
      </td>
      <td colspan=2>
        <a href="<{$xoops_url}>/modules/tadnews/index.php?ncsn=<{$all_news.ncsn}>"><img src="images/icon_more.gif" alt="more" title="more" align=right></a>
        <h4><a href="index.php?ncsn=<{$all_news.ncsn}>"><{$all_news.nc_title}></a></h4>
        <table class="table table-striped">
        <{foreach  item=news from=$all_news.news}>
          <tr>
            <td class="span1"><{$news.post_date}></td>
            <td><{$news.always_top_pic}><{$news.prefix_tag}>
            <a href="<{$xoops_url}>/modules/tadnews/index.php?nsn=<{$news.nsn}>"><{$news.news_title}></a>
            </td>
          </tr>
        <{/foreach}>
        </table>
      </td>
    </tr>
  <{/foreach}>
</table>
<!--TadNews End-->