.pluralink-overlay {
  width: 263px;
}

.pluralink-overlay a {
  display: inline-block;
  margin: 0;
}

.pluralink-overlay a:link, .pluralink-overlay a:visited {
  color: #0071BC !important;
  text-decoration: underline;
  width: 196px;
  padding: 4px 26px 5px;
  background: white;
}

.pluralink-overlay a:hover {
  background: url(over.png) repeat-y left top #F2F2F2;
}

.pluralink-overlay #pluralink-top {
  background: url(top.png) no-repeat left top;
  width: 263px;
  height: 17px;
}

.pluralink-overlay #pluralink-bottom {
  background: url(bottom.png) no-repeat left top;
  width: 263px;
  height: 16px;
}

.pluralink-overlay #pluralink-bg {
  background: url(bg.png) repeat-y left top;
  width: 255px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}