.pluralink-overlay #pluralink-top {
	background: url(top-ie.png) no-repeat left top;
}

.pluralink-overlay #pluralink-bottom {
	background: url(bottom-ie.png) no-repeat left top;
}

.pluralink-overlay #pluralink-bg {
	background: url(bg-ie.png) repeat-y left top;
}